* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h1 {
    padding: 20px;
}

#container {
    height: 560px;
    width: 560px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    margin-bottom: 30px;
}

.item {
    background-color: bisque;
    border: 1px solid black;
}

#btn {
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
  background-color: black; 
  color: white;
}
