* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: lightgrey;
}

h1 {
    padding: 20px;
}

#container {
    height: 560px;
    width: 560px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    margin-bottom: 30px;
}

.item {
    background-color: bisque;
    border: 1px solid black;
}

#btn {
    margin-bottom: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}